@charset "UTF-8";
header {
  display: flex;
  background-color: #f8f8f8; }
  header .navbar-brand img {
    width: 220px;
    margin-bottom: 10px; }
  header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #56c6c1;
    font-size: 11px; }
    header nav ul li a:hover {
      color: white;
      background-color: #aee4e1;
      border-radius: 25px; }

footer {
  width: 100%;
  background-color: #f8f8f8;
  font-size: 14px; }
  footer h4 {
    margin: 10px; }
  footer .row .col img {
    width: 200px; }
  footer .col .redesSociales a {
    font-size: 18px;
    padding: 10px;
    color: #56c6c1;
    transition: all 300ms ease;
    text-decoration: none; }
    footer .col .redesSociales a:hover {
      color: #ce3774; }
  footer small {
    color: #ce3774;
    text-align: center; }

html {
  position: relative;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

/***  MOBILE FIRST  ***/
body {
  background-color: #efe1de;
  font-family: poppins; }

/***  INDEX  ***/
.main-box {
  height: 500px; }
  .main-box .col h2,
  .main-box .raky p {
    text-align: center;
    margin: 20px;
    padding: 5px; }
  .main-box .main-box img:hover {
    filter: opacity(0.9); }
  .main-box .col h2:hover {
    filter: opacity(0.9);
    transform: scale(1.02); }
    .main-box .col h2:hover .raky p {
      animation-name: texto;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/***  ACERCA DE  ***/
.creativa {
  margin-bottom: 20px;
  font-size: 18px; }

.bio .about {
  font-size: 16px;
  text-align: justify; }

.bio .start {
  font-size: 20px; }

/***  HAZLO TÚ MISMO!  ***/
.card {
  width: 250px;
  background: linear-gradient(to right, #efe1de, #ffffff);
  border: 1px solid #aee4e1; }
  .card:hover {
    filter: opacity(0.9);
    transform: scale(1.02); }
  .card img {
    width: 100%;
    height: 200px; }
  .card p {
    font-size: 12px; }

/****GALERÍA****/
.galeria em {
  font-size: 13px;
  margin: 5px; }

.row .col img {
  width: 150px;
  margin-bottom: 5px; }
  .row .col img:hover {
    filter: opacity(0.9);
    transform: scale(1.05); }

/****CONTACTO****/
form {
  height: auto;
  width: 350px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px; }
  form .btn input {
    background: transparent; }

/**TABLET VERSION**/
@media (min-width: 760px) and (max-width: 900px) {
  /****HEADER****/
  header .container .navbar-brand img {
    width: 300px; }
  header nav {
    width: 600px;
    height: 100px;
    padding: 0;
    margin: 10px; }
    header nav .nav-item a {
      padding: 5px;
      font-size: 13px; }
  /****FOOTER****/
  footer {
    position: absolute;
    bottom: 0; }
    footer img {
      width: 200px; }
    footer .col em {
      font-size: 13px; }
    footer ul li {
      font-size: 13px; }
    footer .col .redesSociales a {
      display: inline-block;
      padding: 5px; }
  /****INDEX****/
  .contenedor-raky {
    height: 400px; }
  /****HAZLO TÚ MISMO!****/
  .card {
    display: grid;
    grid-template-columns: 40% 50%;
    width: 600px; }
    .card img {
      width: 250px;
      height: 100%; }
  /****GALERÍA****/
  .galeria em {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px; }
  .col img {
    width: 150px;
    margin-top: 20px;
    text-align: center; }
  /****CONTACTO****/
  form {
    width: 450px;
    padding: 30px; } }

/* DESKTOP VERSION */
@media (min-width: 992px) and (max-width: 1280px) {
  /****HEADER****/
  header .container .navbar-brand img {
    width: 300px; }
  header nav {
    width: 600px;
    height: 100px;
    padding: 0;
    margin: 10px; }
  header .nav-item a {
    padding: 10px;
    font-size: 14px; }
  /****FOOTER****/
  footer {
    padding: 20px; }
    footer .col .redesSociales a {
      padding: 5px; }
  /****INDEX****/
  .main-box {
    height: 600px; }
    .main-box img {
      width: 100%;
      height: 250px; }
  .col .raky p {
    animation-name: texto;
    animation-duration: 2.5s;
    animation-iteration-count: 2; }
  /***  ACERCA DE  ***/
  .creativa {
    font-size: 22px; }
  .bio .about {
    font-size: 18px;
    text-align: center; }
  /****HAZLO TÚ MISMO!****/
  .card {
    display: grid;
    grid-template-columns: 40% 50%;
    width: 600px; }
    .card img {
      width: 200px;
      height: 100%; }
  /****GALERÍA****/
  .galeria em {
    font-size: 16px;
    margin: 5px; }
  .row .col img {
    width: 250px;
    margin-top: 15px;
    text-align: center; }
  /****CONTACTO****/
  form {
    width: 500px;
    padding: 30px; } }
